# Settings file automatically used by clang-tidy
#
# See ./contrib/utilities/run_clang_tidy.sh for details

#
# Rationale for disabling warnings:
#
# - selected modernize-* warnings:
#   Some of these produce a lot of noise for limited utility.
#
# - performance-enum-size:
#   We don't care if an enum could use a smaller base type than
#   unsigned int.
#
# - performance-inefficient-string-concatenation:
#   We don't care about "a"+to_string(5)+...
#
# - performance-no-automatic-move:
#   All modern compilers perform the return value optimization and we prefer
#   to keep things const.
#

Checks: >
  -*,
  cppcoreguidelines-pro-type-static-cast-downcast,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-concat-nested-namespaces,
  -modernize-pass-by-value,
  -modernize-raw-string-literal,
  -modernize-return-braced-init-list,
  -modernize-use-auto,
  -modernize-use-default-member-init,
  -modernize-use-nodiscard,
  -modernize-use-override,
  -modernize-use-trailing-return-type,
  -modernize-use-transparent-functors,
  mpi-*,
  performance-*,
  -performance-avoid-endl,
  -performance-enum-size,
  -performance-inefficient-string-concatenation,
  -performance-no-automatic-move,
  readability-qualified-auto

WarningsAsErrors: '*'
