# Settings file automatically used by clang-tidy
#
# See ./contrib/utilities/run_clang_tidy.sh for details

# Rationale for disabling warnings:
#
# - modernize-concat-nested-namespaces: This is c++17 only.
# - performance-inefficient-string-concatenation: We don't care about "a"+to_string(5)+...
# - performance-no-automatic-move: All modern compiler perform the return value optimization and we prefer to keep things const.

Checks: "-*,cppcoreguidelines-pro-type-static-cast-downcast,google-readability-casting,modernize-*,-modernize-pass-by-value,-modernize-raw-string-literal,-modernize-use-auto,-modernize-use-override,-modernize-use-default-member-init,-modernize-use-transparent-functors,-modernize-use-trailing-return-type,-modernize-use-nodiscard,-modernize-avoid-c-arrays,-modernize-concat-nested-namespaces,use-emplace,mpi-*,performance-*,-performance-inefficient-string-concatenation,-performance-no-automatic-move"

WarningsAsErrors: '*'
