
body { background-image: none;
       background-color: white; 
     }

frameset { background-color: white;
	   border-color: white;
	   border: 0;
	   frameborder: 0;
         }

td { vertical-align: top; }

dt { font-weight: bold; }

.figure     { font-weight: bold;
	      font-size: larger;
	    }

.pagetoc    {}

.chapter_title {}

span.parhead { font-weight: bold;
     	     } 	

span.example { font-weight: bold;
	       font-style: italic;
 	     }
pre.example { padding-left: 2 em;
	      text-align: left;
	      text-indent: 0;
            }
	
table.navbar { }

code.program { color: #700000; }
code.class { color: #009000; }
code.member { color: #006000; }
