## ---------------------------------------------------------------------
##
## Copyright (C) 2012 - 2013 by the deal.II authors
##
## This file is part of the deal.II library.
##
## The deal.II library is free software; you can use it, redistribute
## it, and/or modify it under the terms of the GNU Lesser General
## Public License as published by the Free Software Foundation; either
## version 2.1 of the License, or (at your option) any later version.
## The full text of the license can be found in the file LICENSE at
## the top level of the deal.II distribution.
##
## ---------------------------------------------------------------------

# astyle 2.02 indentation style for deal.II

--style=gnu

--convert-tabs
--indent-preprocessor
--indent=spaces=2
--indent-namespaces
--min-conditional-indent=0
--pad-header

# write things as 'char *p'
--align-pointer=name
--align-reference=name

--max-instatement-indent=60
--suffix=none
--quiet
