# astyle 2.02 indentation style for deal.II
# Run astyle in a command like
#    astyle --options=lib/astyle.rc *cc *h

--style=gnu

--convert-tabs
--indent-preprocessor
--indent=spaces=2
--indent-namespaces
--indent-labels
#--no-indent-col1-comments
--min-conditional-indent=0
#--no-break-blocks
--pad-header

# indent the 'public/protected/private' specifiers, and further indent the
# rest of the declarations
--indent-classes

# indent case labels in a switch statement
--indent-switches

# write things as 'char *p', not 'char* p'
--align-pointer=name
--align-reference=name

--max-instatement-indent=80
--suffix=none
--quiet
#--verbose
