# astyle 2.02 indentation style for deal.II

--style=gnu

--convert-tabs
--indent-preprocessor
--indent=spaces=2
--indent-namespaces
--min-conditional-indent=0
--pad-header

# write things as 'char * p'
--align-pointer=middle
--align-reference=middle

--max-instatement-indent=60
--suffix=none
--quiet
