# astyle 2.02 indentation style for deal.II
# Run astyle in a command like
#    astyle --options=lib/astyle.rc *.cc *.h

--style=gnu

--convert-tabs
--indent-preprocessor
--indent=spaces=2
--indent-namespaces
--min-conditional-indent=0
--pad-header

# write things as 'char* p', not 'char *p'
--align-pointer=type
--align-reference=type

--max-instatement-indent=60
--suffix=none
--quiet
