name: github-docker

on: 
  push: 
    branches: [master]

jobs:
  build-master-docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout code
        uses: actions/checkout@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image of master 
        uses: docker/build-push-action@v2
        with:
          context: ./contrib/docker/
          cache_froms: type=registry,ref=dealii/dependencies:focal
          repository: dealii/dealii
          cache-to: type=inline
          add_git_labels: true
          tags: master-focal
