name: indent

on: [push, pull_request]

concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

permissions:
  contents: read

env:
  MAKEFLAGS: "--jobs=4"

jobs:
  indent:
    # run the indent checks

    name: indent
    runs-on: [ubuntu-24.04]

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 100
    - name: setup
      run: |
        ./contrib/utilities/download_clang_format
    - name: indent
      run: |
        ./contrib/utilities/check_indentation.sh

  doxygen:
    # build the documentation

    name: doxygen
    runs-on: [ubuntu-24.04]

    steps:
    - name: setup
      run: |
        sudo apt update
        sudo apt install doxygen graphviz perl texlive-bibtex-extra
        doxygen --version
    - uses: actions/checkout@v4
    - name: build documentation
      run: |
        mkdir build
        cd build
        cmake -DDEAL_II_COMPONENT_DOCUMENTATION=ON -DDEAL_II_DOXYGEN_USE_MATHJAX=ON ..
        make documentation
    - name: check for doxygen errors and warnings
      run: |
        cd build
        cat doxygen.log
        # Suppress:
        # warning: Inheritance graph for 'SmartPointer' not generated, too many nodes (138), threshold is 50. Consider increasing DOT_GRAPH_MAX_NODES.
        # warning: Inheritance graph for 'Subscriptor' not generated, too many nodes (209), threshold is 50. Consider increasing DOT_GRAPH_MAX_NODES.
        sed -i '/Inheritance graph/d' doxygen.log
        # Suppress:
        # warning: explicit link request to '<function>' could not be resolved
        sed -i '/explicit link request to/d' doxygen.log
        # Remove empty lines
        sed -i '/^$/d' doxygen.log
        # Check if remaining log is zero size
        ! [ -s doxygen.log ] || exit 1
    - uses: actions/upload-artifact@v4
      with:
        name: doxygen_documentation
        path: build/doc/doxygen

  typos:
    # check for typos

    name: typos
    runs-on: [ubuntu-24.04]

    steps:
    - uses: actions/checkout@v4
    - uses: crate-ci/typos@v1.26.8
      with:
        files: doc examples include source tests
        config: ./.typos.toml
