name: github-CI

on: [push, pull_request]

jobs:
  linux-release-serial:
    # simple serial release build using g++

    name: linux release serial
    runs-on: [ubuntu-18.04]

    steps:
    - uses: actions/checkout@v2
    - name: setup
      run: |
        ./contrib/utilities/download_clang_format
    - name: info
      run: |
        g++ -v
        cmake --version
    - name: configure
      run: |
        cmake -D CMAKE_BUILD_TYPE=Release -D DEAL_II_CXX_FLAGS='-Werror' .
    - name: archive
      uses: actions/upload-artifact@v1
      with:
        name: linux-serial-detailed.log
        path: detailed.log
    - name: build
      run: |
        ./contrib/utilities/check_indentation.sh
        make -j 2

  osx-serial:
    # simple serial build using apple clang

    name: OSX serial
    runs-on: [macos-latest]

    steps:
    - uses: actions/checkout@v2
    - name: setup
      run: |
        ./contrib/utilities/download_clang_format
    - name: info
      run: |
        g++ -v
        cmake --version
    - name: configure
      run: |
        cmake -D CMAKE_BUILD_TYPE=Debug -D DEAL_II_CXX_FLAGS='-Werror' .
    - name: archive
      uses: actions/upload-artifact@v1
      with:
        name: serial-detailed.log
        path: detailed.log
    - name: build
      run: |
        ./contrib/utilities/check_indentation.sh
        make -j 2
        make -j 2 test # quicktests

  osx-parallel64:
    # MPI build using apple clang and 64 bit indices

    name: OSX parallel 64bit
    runs-on: [macos-latest]

    steps:
    - uses: actions/checkout@v2
    - name: setup
      run: |
        brew install openmpi
        cmake --version
        # uncomment these for a gcc based build
        #export OMPI_CXX=g++-9
        #export OMPI_CC=gcc-9
        #export OMPI_FC=gfortran-9
        ./contrib/utilities/download_clang_format
    - name: info
      run: |
        g++-9 -v
        mpicxx -v
        cmake --version
    - name: configure
      run: |
        CC=mpicc CXX=mpic++ cmake -D CMAKE_BUILD_TYPE=Debug -D DEAL_II_WITH_64BIT_INDICES=ON -D DEAL_II_CXX_FLAGS='-Werror' -D DEAL_II_WITH_MPI=on .
    - name: archive
      uses: actions/upload-artifact@v1
      with:
        name: parallel-detailed.log
        path: detailed.log
    - name: build
      run: |
        ./contrib/utilities/check_indentation.sh
        make -j 2
        make -j 2 test #quicktests

  windows-serial:
    # Serial build on Windows
    name: Windows Serial
    runs-on: [windows-latest]

    steps:
    - uses: actions/checkout@v2
    - name: info
      run: |
        cmake --version
        wmic logicaldisk get size, freespace, caption
    - name: configure
      shell: bash
      run: |
        mkdir build
        mkdir c:/project
        cd build
        cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=c:/project ..
    - name: archive logs
      uses: actions/upload-artifact@v1
      with:
        name: windows-serial-detailed.log
        path: build/detailed.log
    - name: build library
      shell: bash
      run: |
        cmake --build build  --target install -- -m
        cd c:/project
        7z a dealii-windows.zip *
    - name: test library
      shell: bash
      run: |
        cmake --build build  --target test -- -m
    - name: archive library
      uses: actions/upload-artifact@v1
      with:
        name: dealii-windows.zip
        path: c:/project/dealii-windows.zip
