name: osx

on:
  push:
  pull_request:
    types:
    - opened
    - reopened
    - synchronize
    - ready_for_review

concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

permissions:
  contents: read

env:
  CMAKE_BUILD_PARALLEL_LEVEL: 3
  CTEST_OUTPUT_ON_FAILURE: 1
  CTEST_PARALLEL_LEVEL: 3
  MAKEFLAGS: "--jobs=3"

jobs:
  serial:
    # simple serial build using apple clang

    name: ${{ matrix.os }} serial
    runs-on: ${{ matrix.os }}

    #
    # The following condition only runs the workflow on 'push' or if the
    # 'pull_request' is not a draft. This is only useful for hackathons or
    # other situations when the CI is massively overburdened with pull
    # requests.
    #
    # if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos-13, macos-14, macos-15]

    steps:
    - uses: actions/checkout@v4
    - name: info
      run: |
        g++ -v
        cmake --version
    - name: configure
      run: |
        mkdir build
        cd build
        cmake -D CMAKE_BUILD_TYPE=Debug \
              -D DEAL_II_CXX_FLAGS='-Werror' \
              -D DEAL_II_EARLY_DEPRECATIONS=ON \
              ..
    - name: print detailed.log
      run: cat build/detailed.log
    - name: build
      run: |
        cd build
        make VERBOSE=1
    - name: test
      run: |
        cd build
        make \
          setup_tests_a-framework \
          setup_tests_quick_tests
        ctest -VV

  parallel64:
    # MPI build using apple clang and 64 bit indices

    name: ${{ matrix.os }} parallel 64bit
    runs-on: ${{ matrix.os }}

    #
    # The following condition only runs the workflow on 'push' or if the
    # 'pull_request' is not a draft. This is only useful for hackathons or
    # other situations when the CI is massively overburdened with pull
    # requests.
    #
    # if: ${{ github.event_name == 'push' || !github.event.pull_request.draft }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos-13, macos-14, macos-15]

    steps:
    - uses: actions/checkout@v4
    - name: setup
      run: |
        brew install openmpi
        # uncomment these for a gcc based build
        #export OMPI_CXX=g++
        #export OMPI_CC=gcc
        #export OMPI_FC=gfortran
    - name: info
      run: |
        mpicxx -v
        cmake --version
    - name: configure
      run: |
        mkdir build
        cd build
        cmake -D CMAKE_BUILD_TYPE=Debug \
              -D DEAL_II_WITH_64BIT_INDICES=ON \
              -D DEAL_II_CXX_FLAGS='-Werror' \
              -D DEAL_II_EARLY_DEPRECATIONS=ON \
              -D DEAL_II_WITH_MPI=ON \
              ..
    - name: print detailed.log
      run: cat build/detailed.log
    - name: build
      run: |
        cd build
        make VERBOSE=1
    - name: test
      run: |
        cd build
        make \
          setup_tests_a-framework \
          setup_tests_quick_tests
        ctest -VV
