name: github-windows

on: [push, pull_request]

concurrency:
  group: ${ {github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{github.event_name == 'pull_request'}}

permissions:
  contents: read

jobs:
  windows-serial:
    # Serial build on Windows
    name: Windows Serial
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019, windows-2022]

    steps:
    - uses: actions/checkout@v3
    - name: info
      run: |
        cmake --version
        cmake -h
        wmic logicaldisk get size, freespace, caption
    - name: configure
      shell: bash
      run: |
        mkdir build
        mkdir c:/project
        cd build
        cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=c:/project -DDEAL_II_WITH_ZLIB=off -DDEAL_II_CXX_FLAGS="-WX /D FE_EVAL_FACTORY_DEGREE_MAX=2" -T host=x64 -A x64 ..
    - name: archive logs
      uses: actions/upload-artifact@v3
      with:
        name: windows-serial-detailed.log
        path: build/detailed.log
    - name: build library
      shell: bash
      run: |
        cmake --build build  --target install -- -m
        cd c:/project
        7z a dealii-windows.zip *
    - name: test library
      shell: bash
      run: |
        cmake --build build  --target test -- -m
    - name: archive library
      uses: actions/upload-artifact@v3
      with:
        name: dealii-windows.zip
        path: c:/project/dealii-windows.zip
    - name: archive error 1
      uses: actions/upload-artifact@v3
      if: always()
      continue-on-error: true
      with:
        name: windows-serial-CMakeOutput.log
        path: build/CMakeFiles/CMakeOutput.log
    - name: archive error 2
      uses: actions/upload-artifact@v3
      if: always()
      continue-on-error: true
      with:
        name: windows-serial-CMakeError.log
        path: build/CMakeFiles/CMakeError.log
